<div id="carouselcop" class="carousel slide" data-ride="carousel">

  <u class="carousel-indicators">
    <li data-target="#carouselcop" data-slide-to="0" class="active"></li>
    <li data-target="#carouselcop" data-slide-to="1"></li>
    <li data-target="#carouselcop" data-slide-to="2"></li>
  </u>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="http://static.runoob.com/images/mix/img_fjords_wide.jpg">
      <div class="carousel-caption">
        <h3>第一张图片描述标题</h3>
        <p>文字描述1</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://static.runoob.com/images/mix/img_nature_wide.jpg">
      <div class="carousel-caption">
        <h3>第二张图片描述标题</h3>
        <p>文字描述2</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="http://static.runoob.com/images/mix/img_mountains_wide.jpg">
      <div class="carousel-caption">
        <h3>第三张图片描述标题</h3>
        <p>文字描述3</p>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" data-slide="prev" href="#carouselcop">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" data-slide="next" href="#carouselcop">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


