<div class="col-12">
  <div class="row-12">
    <div class="form-group">
      <!--<label for="my-input">Text</label>-->
      <input id="my-input" class="form-control" [formControl]="titleFilter" type="text" placeholder="please input sell name">
    </div>
  </div>
</div>
<div *ngFor="let product of prodects | filter:'title':keyword" class="col-md-4 col-lg-4 col-sm-4">
  <div class="img-thumbnail">
    <img [src]="imgUrl" class="rounded img-responsize">
    <div class="figure-caption">
      <h4 class="text-right">{{product.price}}元</h4>
      <h4><a [routerLink]="['/product', product.id]">{{product.title}}</a></h4>
      <p>{{product.desc}}</p>
      <p>{{product.rating}}</p>
    </div>
    <div>
      <app-stars [rating]="product.rating"></app-stars>
    </div>
  </div>
</div>
