<form>
  <div class="form-group">
    <label for="productNm">商品名称:</label>
    <input type="text" class="form-control" id="productNm" placeholder="商品名称"/>
  </div>
  <div class="form-group">
    <label for="productPrice">商品价格:</label>
    <input type="number" class="form-control" id="productPrice" placeholder="商品价格"/>
  </div>
  <div class="form-group">
    <label for="productCategroy">商品类别:</label>
    <select type="number" class="form-control" id="productCategroy"></select>
  </div>
  <div class="form-group">
   <button type="submit" class="btn btn-primary btn-block">搜索</button>
  </div>
</form>
